In [2]:
# Import Premiums data and name it as Premium.
Premium <- read.csv("/content/Premiums.csv")

In [6]:
# Check number of rows, columns in the data.
cat( "Number of rows", nrow(Premium), "\n")
cat("Number of columns ", ncol(Premium))

Number of rows 4744
Number of columns  10

In [9]:
# Display first 10 rows and last 5 rows.
head(Premium, 10)

tail(Premium,5)

   POLICY_NO       PRODUCT BRANCH_NAME  REGION      ZONE_NAME
1  A-2007073196522 TRAVEL  Pune         ROM and Goa South
2  A-2007080402998 TRAVEL  Anand        Gujarat II  North
3  A-2007081314381 TRAVEL  Chennai II   Tamilnadu   South
4  A-2007082123389 TRAVEL  Baroda       Gujarat II  North
5  A-2007082123394 TRAVEL  Baroda       Gujarat II  North
6  A-2007083135582 TRAVEL  Bangalore II Karnatka    South
7  A-2007090540083 TRAVEL  Andheri      Mumbai II   South
8  A-2007090540188 TRAVEL  Andheri      Mumbai II   South
9  A-2007090540273 TRAVEL  Andheri      Mumbai II   South
10 A-2007090540347 TRAVEL  Andheri      Mumbai II   South
   Plan               Sum_Assured Premium Sub_Plan Vintage_Period
1  Asia Silver Plan     30000     525     Silver    14
2  Asia Silver Plan     30000     325     Silver    30
3  Asia Standard Plan 1250000     300     Standard   4
4  Asia Standard Plan   25000     300     Standard  30
5  Asia Standard Plan   25000     300     Standard  30
6  Individual           50000     498     Standard 446
7  Asia Silver Plan     25000     364     Silver     5
8  Asia Silver Plan     25000     365     Silver     5
9  Asia Silver Plan     25000     364     Silver     8
10 Asia Silver Plan     25000     363     Silver     8

     POLICY_NO       PRODUCT BRANCH_NAME REGION           ZONE_NAME
4740 I-2008090517429 TRAVEL  Bareilly    UP AND UTRANCHAL North
4741 I-2008090617490 TRAVEL  Bangalore I Karnatka         South
4742 I-2008090617503 TRAVEL  Bangalore I Karnatka         South
4743 I-2008091917750 TRAVEL  Patna       Rest of East     East
4744 I-2008092017751 TRAVEL  Gandhinagar Gujarat I        North
     Plan               Sum_Assured Premium Sub_Plan Vintage_Period
4740 Individual  Standa 5e+04        407    Standard   5
4741 Individual  Standa 2e+06        584    Standard  13
4742 Individual  Standa 2e+06        549    Standard  14
4743 Individual  Gold P 1e+07       1198    Gold      18
4744 Individual  Standa 5e+04        549    Standard 365

In [12]:
# Describe (summarize) all variables.
summary(Premium)

  POLICY_NO           PRODUCT          BRANCH_NAME           REGION
 Length:4744        Length:4744        Length:4744        Length:4744
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



  ZONE_NAME             Plan            Sum_Assured          Premium
 Length:4744        Length:4744        Min.   :       0   Min.   :    0.0
 Class :character   Class :character   1st Qu.:  500000   1st Qu.:  549.0
 Mode  :character   Mode  :character   Median : 2000000   Median :  731.5
                                       Mean   : 3824805   Mean   : 1147.0
                                       3rd Qu.: 4000000   3rd Qu.: 1199.0
                                       Max.   :25000000   Max.   :19649.0
   Sub_Plan         Vintage_Period
 Length:4744        Min.   :  0.0
 Class :character   1st Qu.:  9.0
 Mode  :character   Median : 17.0
                    Mean   : 49.1
                    3rd Qu.: 42.0
                    Max.   :733.0

In [16]:
# Display top 5 and bottom 5 policies in terms of premium amount.

Premium_Amount_Sorted <- Premium[sort(Premium$Premium_Amount, decreasing = TRUE)]

head(Premium_Amount_Sorted, 5)
tail(Premium_Amount_Sorted, 5)

1
2
3
4
5

4740
4741
4742
4743
4744

In [19]:
# Calculate the sum for variable ‘Sum_Assured’ by ‘Region’ variable.
sum_assured_by_region <- aggregate(Sum_Assured ~ REGION, data = Premium, sum)
sum_assured_by_region

   REGION                       Sum_Assured
1  Andhra Pradesh I              813675000
2  Andhra Pradesh II             278150000
3  Delhi I                      1886412500
4  Delhi II                     2641320000
5  Gujarat I                     381041667
6  Gujarat II                    433240000
7  Haryana And Himachal Pradesh  406958333
8  Karnatka                     2359891667
9  Kerala                        414810000
10 MP And Chattishgarh            93680000
11 Mumbai I                     2167773767
12 Mumbai II                    1300088333
13 Punjab And Jammu  Kashmir     920653333
14 Rajasthan                      34050000
15 Rest of East                   10000000
16 ROM and Goa                  2057798452
17 Tamilnadu                    1207566667
18 UP AND UTRANCHAL              345316400
19 West Bengal                   392450000

In [27]:
# Create a subset of policies of Asia Standard Plan with Sum_Assured < = 50,000.
# Keep variables Policy_No, Zone_name, Plan and Sum_Assured in the subset data.

subset_data <- subset(Premium, Plan == "Asia Standard Plan" & Sum_Assured <= 50000,
                      select = c(POLICY_NO, ZONE_NAME, Plan, Sum_Assured))
head(subset_data)

   POLICY_NO       ZONE_NAME Plan               Sum_Assured
4  A-2007082123389 North     Asia Standard Plan 25000
5  A-2007082123394 North     Asia Standard Plan 25000
12 A-2007091348784 South     Asia Standard Plan 25000
13 A-2007091348862 South     Asia Standard Plan 25000
20 A-2007100469681 South     Asia Standard Plan 25000
21 A-2007100469711 South     Asia Standard Plan 25000

In [31]:
install.packages("openxlsx")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [32]:
# Export the subsetted data into an xlsx file.

library(openxlsx)
write.xlsx(subset_data, "/content/Asia_Standard_Plan_Subset.xlsx")